
   <section id="landingpage-hero" data-hero-link="" class="relative " style="height: 145px;">
      <div class="row justify-end lg:absolute inset-0">
         <div class="xs-column-12 s-column-12 m-column-12 l-column-12 relative">
            <div class="hidden lg:block h-96 lg:h-full bg-cover bg-right bg-no-repeat" style="background-image: url('/photos/slide.jpg')"></div>
            <div class="block lg:hidden h-96 lg:h-full bg-cover bg-center bg-no-repeat" style="background-image: url('/photos/slide.jpg')"></div>
            <div class="hidden lg:block absolute top-0 left-0 bottom-0 w-3/4 bg-white-gradient"></div>
         </div>
      </div>
      <div class="relative lg:h-full container z-10">
         <div class="relative lg:h-full row justify-start items-center pt-8 sm:pt-12 lg:p-0">
            <div class="xs-column-12 s-column-12 m-column-10 l-column-6">
               <div class="w-full xl:w-4/5">
                  <h1 class="text-primary-500 mb-0">
Número 1 em seguro de vida</h1>
                  <div class="editor-content mt-6 font-medium">
                     <p><strong></strong><span style="color: rgb(174, 2, 71);"></span><span style="color: rgb(174, 2, 71);"><strong>Proteção financeira para você e sua família<br></strong><strong><span style="color: rgb(51, 51, 51);"><span style="color: rgb(51, 51, 51);"><span style="color: rgb(0, 0, 0);"></span></span></span></strong></span>✔<strong>&nbsp;Contratação simplificada, acessível e assistências que podem ser utilizadas por você, em vida.&nbsp;</strong><br>✔ O seguro ideal para o presente e futuro.&nbsp;<strong></strong></p>
                     <p><strong>AVA Corretora de Seguros</strong><em><br>desde 1997</em><em></em><strong></strong><br><span style="color: rgb(0, 0, 0);"><br></span><a href="#" class="cta cta-primary">Saiba mais</a>&nbsp; <a href="#" class="cta cta-secondary">Faça uma cotação</a></p>
                     <p><span style="color: rgb(174, 2, 71);"><br></span></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>


