<footer class="overflow-hidden">
   <section data-jfs="" class="container mb-section jfs-scroll-reveal-start jfs-scroll-reveal-end" style="transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;">
      <div class="row gutter justify-center">
     
         <div class="xs-column-12 s-column-12 m-column-6 l-column-4">
            <div class="flex items-center flex-col shadow-lg rounded overflow-hidden ">
               <div class="w-full h-64 bg-cover bg-no-repeat bg-center" style="background-image:url('/photos/hand.svg'); width:150px; height:150px"></div>
               <div class="w-full bg-white p-6 sm:p-8">
                  <h4>Assistência</h4>
              
              
                  <div class="mt-4 text-grey-700">
                     <p>Amparo financeiro para você e sua família diante de situações inesperadas da vida</p>
                
                  </div>
               
               </div>
            </div>
         </div>





               <div class="xs-column-12 s-column-12 m-column-6 l-column-4">
            <div class="flex items-center flex-col shadow-lg rounded overflow-hidden ">
               <div class="w-full h-64 bg-cover bg-no-repeat bg-center" style="background-image:url('/photos/piggy.svg'); width:150px; height:150px"></div>
               <div class="w-full bg-white p-6 sm:p-8">
                  <h4>Amparo</h4>
              
              
                  <div class="mt-4 text-grey-700">
                     <p>Viva de maneira confortável e tranquila com um baixo investimento mensal</p>
                
                  </div>
               
               </div>
            </div>
         </div>


          <div class="xs-column-12 s-column-12 m-column-6 l-column-4">
            <div class="flex items-center flex-col shadow-lg rounded overflow-hidden ">
               <div class="w-full h-64 bg-cover bg-no-repeat bg-center" style="background-image:url('/photos/baby.svg'); width:150px; height:150px"></div>
               <div class="w-full bg-white p-6 sm:p-8">
                  <h4>Proteção</h4>
              
              
                  <div class="mt-4 text-grey-700">
                     <p>Proteja o seu legado e as pessoas mais importantes para você, livre de impostos e com rápida liquidez</p>
                
                  </div>
               
               </div>
            </div>
         </div>


      </div>
   </section>






   <section data-jfs="" class="bg-grey-100 py-section jfs-scroll-reveal-start jfs-scroll-reveal-end" style="transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;">
      <div class="container">
         <div class="row gutter">
            <div class="xs-column-12 s-column-6 m-column-4 space-y-1">
               <a class="text-primary-500 font-bold text-lg hover:text-primary-700 block mb-2" href="#">Produtos Exclusivos</a>
               <div>
                  <a class="text-primary-500 font-medium hover:text-primary-700" href="#">Profissionais Ed. Fisica</a>
               </div>
               <div>
                  <a class="text-primary-500 font-medium hover:text-primary-700" href="#">Profissionais Fabrica</a>
               </div>
               <div>
                  <a class="text-primary-500 font-medium hover:text-primary-700" href="h#">Atletas</a>
               </div>
            </div>
            <div class="xs-column-12 s-column-6 m-column-4 space-y-1">
               <a class="text-primary-500 font-bold text-lg hover:text-primary-700 block mb-2" href="#">Quem Somos</a>
               <div>
                  <a class="text-primary-500 font-medium hover:text-primary-700" href="#">QV Beneficios</a>
               </div>
               <div>
                  <a class="text-primary-500 font-medium hover:text-primary-700" href="#">Clientes</a>
               </div>
               <div>
                  <a class="text-primary-500 font-medium hover:text-primary-700" href="#">Condicoes</a>
               </div>
            </div>
            <div class="xs-column-12 s-column-6 m-column-4 space-y-1">
               <a class="text-primary-500 font-bold text-lg hover:text-primary-700 block mb-2" href="#">Politicas</a>
               <div>
                  <a class="text-primary-500 font-medium hover:text-primary-700" href="h#">Politica de Privacidade</a>
               </div>
               <div>
                  <a class="text-primary-500 font-medium hover:text-primary-700" href="#">Politica de Cancelamento</a>
               </div>
               <div>
                  <a class="text-primary-500 font-medium hover:text-primary-700" href="#">Termos de Uso</a>
               </div>
            </div>
            <div class="xs-column-12 s-column-6 m-column-4 space-y-1">
               <a class="text-primary-500 font-bold text-lg hover:text-primary-700 block " href="#">Eventos</a>
            </div>
            <div class="xs-column-12 s-column-6 m-column-4 space-y-1">
               <a class="text-primary-500 font-bold text-lg hover:text-primary-700 block " href="#">Contato</a>
            </div>
            <div class="xs-column-12 s-column-6 m-column-4 space-y-1">
               <a class="text-primary-500 font-bold text-lg hover:text-primary-700 block " href="#">Vagas</a>
            </div>
          
         
         </div>
      </div>
   </section>
   <section>
      <div class="container mb-4 mt-8">
         <div class="row items-center">
            <div class="xs-column-6 s-column-6 m-column-6">
               <img class="h-8 sm:h-12" src="/assets/img/logo.jpg" alt="">
            </div>
            <div class="xs-column-6 s-column-6 m-column-6 flex items-center justify-end">
               <a href="https://www.facebook.com/#" target="_blank" rel="noopener" class="mr-4" aria-label="Facebook">
                  <svg width="28" height="28" class="icon--facebook">
                     <use xlink:href="#icon--facebook"></use>
                  </svg>
               </a>
               <a href="https://twitter.com/##" target="_blank" rel="noopener" class="mr-4" aria-label="Twitter">
                  <svg width="28" height="28" class="icon--twitter">
                     <use xlink:href="#icon--twitter"></use>
                  </svg>
               </a>
               <a href="https://www.linkedin.com/##" target="_blank" rel="noopener" class="mr-4" aria-label="Linkedin">
                  <svg width="28" height="28" class="icon--linkedin">
                     <use xlink:href="#icon--linkedin"></use>
                  </svg>
               </a>
               <a href="https://www.youtube.com/channel/##" target="_blank" rel="noopener" aria-label="Youtube">
                  <svg width="28" height="28" class="icon--youtube">
                     <use xlink:href="#icon--youtube"></use>
                  </svg>
               </a>
            </div>
         </div>
      </div>
      <div class="container my-4">
         <div class="row justify-center md:justify-start text-sm -mx-2">
            <span class="border-r border-grey-300 px-2 my-1">© 2021 Site</span>
            <span class="border-r border-grey-300 px-2 my-1">Av. xxxxx</span>
            <span class="border-r border-grey-300 px-2 my-1">Paraty, RJ</span>
            <span class="border-r border-grey-300 px-2 my-1">23970000</span>
            <span class="px-2 my-1">Rio de Janeiro</span>
         </div>
         <div class="row justify-center md:justify-start text-sm -mx-2">
            <span class="border-r border-grey-300 px-2 my-1">
            <a href="https://www.netjapa.com" title="Privacy beleid" class="text-secondary-700">Politica de Privacidade</a>
            </span>
            <span class="border-r border-grey-300 px-2 my-1">
            <a data-cookie-preferences="" class="cursor-pointer text-secondary-700" title="Pas je cookies aan">Cookies</a>
            </span>
            <span class="px-2 my-1"> <a href="https://netjapa.com" title="Think Tomorrow" class="text-secondary-700">NETJAPA</a></span>
         </div>
      </div>
   </section>
</footer>