---
layout: default
---

 {% include banner.html %}
































   <section data-jfs="" class="container my-section jfs-scroll-reveal-start jfs-scroll-reveal-end" id="text-830" style="transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;">
      <div class="row justify-center">
         <div class="xs-column-12 s-column-12 m-column-10 l-column-8 editor-content">
            <h2>Seguro de Vida</h2>
            <p>Contratar o seguro de vida e acidentes pessoais é uma maneira de se planejar para imprevistos que possam acontecer. Com ele, você terá cobertura que irá te dar suporte financeiro em casos de morte, invalidez total ou parcial e acidentes que impossibilitem o segurado de trabalhar.<a href="#"><br></a></p>
            <p><a href="#" class="cta cta-primary">Saiba mais</a></p>
         </div>
      </div>
   </section>












<section data-jfs="" class="container my-section jfs-scroll-reveal-start jfs-scroll-reveal-end" style="transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;">
   <div class="row gutter justify-center">
      <div class="xs-column-12 s-column-12 m-column-5 l-column-3">
         <a class="group h-full flex flex-col font-normal" href="#">
            <div class="h-64 sm:h-48 flex-shrink-0 bg-cover bg-center bg-no-repeat" style="background-image:url('/photos/fatal.jpg')"></div>
            <div class="h-full flex flex-col justify-between p-4 sm:p-8 bg-grey-100 group-hover:bg-primary-500">
               <div class="editor-content group-hover:text-grey-100">
                  <h3>Acidentes Fatais (Mac)</h3>
                  <p>Em caso de acidentes fatais, a família do segurado receberá a indenização referente ao plano adquirido, podendo variar entre R$ 50.000,00 e R$ 200.000,00.</p>
               </div>
               <span class="btn btn-primary group-hover:text-white group-hover:stroke-white group-hover:stroke-transform mt-4">Saiba Mais</span>
            </div>
         </a>
      </div>
      <div class="xs-column-12 s-column-12 m-column-5 l-column-3">
         <a class="group h-full flex flex-col font-normal" href="#">
            <div class="h-64 sm:h-48 flex-shrink-0 bg-cover bg-center bg-no-repeat" style="background-image:url('/photos/invalidez.jpg')"></div>
            <div class="h-full flex flex-col justify-between p-4 sm:p-8 bg-grey-100 group-hover:bg-primary-500">
               <div class="editor-content group-hover:text-grey-100">
                  <h3>Invalidez por Acidente</h3>
                  Em caso de acidentes que culminem na invalidez do segurado em exercer sua função, ele receberá a indenização referente ao plano adquirido podendo variar entre R$ 50.000,00 e R$ 200.000,00.
               </div>
               <span class="btn btn-primary group-hover:text-white group-hover:stroke-white group-hover:stroke-transform mt-4">Saiba Mais</span>
            </div>
         </a>
      </div>
      <div class="xs-column-12 s-column-12 m-column-5 l-column-3">
         <a class="group h-full flex flex-col font-normal" href="#">
            <div class="h-64 sm:h-48 flex-shrink-0 bg-cover bg-center bg-no-repeat" style="background-image:url('/photos/renda.jpeg')"></div>
            <div class="h-full flex flex-col justify-between p-4 sm:p-8 bg-grey-100 group-hover:bg-primary-500">
               <div class="editor-content group-hover:text-grey-100">
                  <h3>Complemento de Renda</h3>
                  <p>Em caso de acidentes que impossibilitem o segurado a exercer sua função, ele receberá até R$8.000,00 em diárias como complemento de renda pelo período que estiver afastado.</p>
               </div>
               <span class="btn btn-primary group-hover:text-white group-hover:stroke-white group-hover:stroke-transform mt-4">Saiba Mais</span>
            </div>
         </a>
      </div>
         <div class="xs-column-12 s-column-12 m-column-5 l-column-3">
         <a class="group h-full flex flex-col font-normal" href="#">
            <div class="h-64 sm:h-48 flex-shrink-0 bg-cover bg-center bg-no-repeat" style="background-image:url('/photos/funeral.jpg')"></div>
            <div class="h-full flex flex-col justify-between p-4 sm:p-8 bg-grey-100 group-hover:bg-primary-500">
               <div class="editor-content group-hover:text-grey-100">
                  <h3>Auxilio Funeral</h3>
                  <p>Em caso de morte, a família do segurado receberá R$5.000,00 de auxílio funeral abrangendo o titular, o cônjuge e filhos até 21. Neste caso, a segurada pode pedir reembolso do valor desembolsado, não sendo necessário acionar o seguro no ato.</p>
               </div>
               <span class="btn btn-primary group-hover:text-white group-hover:stroke-white group-hover:stroke-transform mt-4">Saiba Mais</span>
            </div>
         </a>
      </div>
   </div>
</section>




























   <section data-jfs="" class="bg-grey-100 my-section py-section jfs-scroll-reveal-start jfs-scroll-reveal-end" style="transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1) 0s;">
      <div class="container">
         <div class="row justify-center">
            <div class="xs-column-12 s-column-12 m-column-10 l-column-8">
               <div class="flex justify-center">
                  <svg width="28" height="28" class="w-8 opacity-50" aria-label="quote icon">
                     <use xlink:href="#icon--quote"></use>
                  </svg>
               </div>
               <div class="sm:text-xl text-secondary-800 text-center mb-4">
                  <p>O  seguro de vida é uma maneira de se planejar para eventualidades que possam ocorrer, garantindo a você e a sua família assistência em momentos difíceis.</p>
               </div>
            
            </div>
         </div>
      </div>
   </section>

</main>
























<section data-cookiebar="" data-cookiebar-default="functional" style="z-index:1000" class="hidden fixed right-0 bottom-0 shadow-lg bg-white m-4 left-0 md:left-auto md:w-1/2 text-blue-darker rounded overflow-hidden xs-inset-s m-inset-m text-sm">
   <h3>We gebruiken anonieme cookies</h3>
   <p>Dit ter verbetering van deze website. We gebruiken zowel functionele als niet-functionele cookies. Voor het plaatsen en uitlezen van niet-functionele cookies hebben wij uw voorafgaande toestemming nodig; voor functionele cookies niet. Meer info in onze <a href="/privacy">privacyverklaring.</a></p>
   <div class="mb-4 sm:flex">
      <label class="block mr-4"><input data-cookiebar-checkbox="" class="mr-2" type="checkbox" name="functional" checked="" disabled="">Functionele cookies</label>
      <label class="block mr-4"><input data-cookiebar-checkbox="" class="mr-2" type="checkbox" name="analyzing" checked="">Analyzing cookies</label>
      <label class="block"><input data-cookiebar-checkbox="" class="mr-2" type="checkbox" name="marketing" checked="">Marketing cookies</label>
   </div>
   <a class="btn btn-primary" data-cookiebar-accept="" aria-label="cookies accepteren">Ok, ik begrijp het</a>
</section>
<section id="lightbox-container" class="fixed inset-0 flex justify-center items-center z-50 hidden" aria-hidden="true" role="dialog">
   <div data-modal-close="" data-toggle-class="#lightbox-container" class="cursor-pointer absolute inset-0 bg-black-50"></div>
   <div class="relative w-full md:w-4/5 pop" aria-hidden="true" role="dialog">
      <img id="lightbox-image" class="w-full" src="https://www.steylaerts.be/assets/front/img/logo.svg" alt="lightbox image">
      <span data-modal-close="" data-toggle-class="#lightbox-container" class="absolute top-0 right-0 m-4 rounded-full bg-grey-100 hover:bg-grey-200 p-2 flex items-center justify-center cursor-pointer">
         <svg height="18" width="18">
            <use xlink:href="#icon--close"></use>
         </svg>
      </span>
   </div>
</section>
<script src="https://www.steylaerts.be/assets/front/js/main.js?id=440d159eb20de60ddd97"></script>
<script src="https://www.steylaerts.be/assets/front/js/toggle-class.js?id=b94b035982f2e705e241"></script>
<script>
   /* Setting the height of the hero so it fills the screen */
   var primaryHeader = document.querySelector('[data-nav-primary-container]');
   var secondaryHeader = document.querySelector('[data-nav-secondary-container]');
   var hero = document.getElementById('landingpage-hero');
   var heroLink = hero.getAttribute('data-hero-link');
   
   calculateLandingpageHeroHeight();
   window.addEventListener('resize', calculateLandingpageHeroHeight);
   
   hero.addEventListener('click', function() { return redirectToLink(heroLink) });
   
   function calculateLandingpageHeroHeight() {
       if(parseInt(window.breakpoints.lg.substring(0, window.breakpoints.lg.length - 2)) > window.innerWidth) {
           return hero.style.height = 'auto';
       }
   
       var primaryHeaderHeight = primaryHeader.offsetHeight;
       var secondaryHeaderHeight = secondaryHeader.offsetHeight;
   
       hero.style.height = window.innerHeight - primaryHeaderHeight - secondaryHeaderHeight + 'px';
   }
   
   function redirectToLink(link) {
       if(link != "") {
           window.location.href = link;
       }
   }
</script>
<script>
   document.querySelector('[data-cookie-preferences]').addEventListener('click', function() {
       document.querySelector('[data-cookiebar').classList.remove('hidden');
   })
</script>
<script>
   document.querySelector('[data-cookie-preferences]').addEventListener('click', function() {
       document.querySelector('[data-cookiebar').classList.remove('hidden');
   })
</script>
<script>
   var bugsnagClient = bugsnag({
       apiKey: "22f033ca92a44c27e8721a55e5404803",
   });
</script>
<script type="text/javascript" id="">(function(){function b(a){a=a.replace(/[\[]/,"\\[").replace(/[\]]/,"\\]");a=new RegExp("[\\?\x26]"+a+"\x3d([^\x26#]*)");a=a.exec(location.search);return null===a?"":decodeURIComponent(a[1].replace(/\+/g," "))}if(window.MutationObserver){var c=new MutationObserver(function(a){a.forEach(function(a){var b=a.oldValue,c=a.target.className;-1===b.indexOf("translated-")&&-1<c.indexOf("translated-")&&(console.log(a),window.dataLayer.push({event:"pageTranslated",translationLanguage:a.target.lang||document.getElementsByTagName("html")[0].getAttribute("xml:lang"),
   translationService:"on-page google translate"}))})}),d=document.querySelector("html");c.observe(d,{attributes:!0,attributeOldValue:!0,attributeFilter:["class"]})}-1<window.location.href.indexOf("translate.googleusercontent.com")&&window.dataLayer.push({event:"pageTranslated",translationLanguage:b("tl"),translationService:"google translate website"});-1<window.location.href.indexOf("translatoruser-int.com")&&window.dataLayer.push({event:"pageTranslated",translationLanguage:b("to"),translationService:"bing translator website"})})();
</script>
<script type="text/javascript" id="">!function(b,e,f,g,a,c,d){b.fbq||(a=b.fbq=function(){a.callMethod?a.callMethod.apply(a,arguments):a.queue.push(arguments)},b._fbq||(b._fbq=a),a.push=a,a.loaded=!0,a.version="2.0",a.queue=[],c=e.createElement(f),c.async=!0,c.src=g,d=e.getElementsByTagName(f)[0],d.parentNode.insertBefore(c,d))}(window,document,"script","https://connect.facebook.net/en_US/fbevents.js");fbq("init","1155330038000010");fbq("track","PageView");</script>
<noscript>
   <img height="1" width="1" src="https://www.facebook.com/tr?id=1155330038000010&amp;ev=PageView
      &amp;noscript=1">
</noscript>